@mixin sans-serif(
  $fs,
  $ls: 0.15em,
  $color: $dark-gray,
  $tt: uppercase,
  $lh: 1
) {
  font-size: $fs;
  letter-spacing: $ls;
  color: $color;
  text-transform: $tt;
  line-height: $lh;
  font-family: $ff-ss;
  font-weight: $fw-n;
}

@mixin container($width: 100%, $max-width: 100px) {
  width: $width;
  margin: 0 auto;
  max-width: $max-width;
}
